<%= content_for(:title) { 'Logs' } %>

<div>
  <ul>
    <% span_class = "mr-2" %>
    <% @logs.each do |log| %>
      <li class="mb-2">
        <span class="<%= span_class %> text-gray-500" title="ID">
          <%= log.id %>
        </span>

        <span class="<%= span_class %> underline decoration-2 decoration-emerald-600" title="Timestamp">
          <%= l log.timestamp %>
        </span>

        <span class="<%= span_class %> text-gray-500" title="App Name">
          <%= log.app_name %>
        </span>

        <span class="<%= span_class %> underline decoration-2 decoration-sky-600" title="Process Name">
          <%= log.process_name %>
        </span>

        <span class="<%= span_class %> block break-words" title="Message">
          <%= log.message %>
        </span>
      </li>
    <% end %>
  </ul>
</div>

<%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
